@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.intro {
	display: grid;
	gap: $space-3;
	padding-bottom: $space-2;
}

.intro__meta-table {
	display: grid;
	grid-template-columns: max-content minmax(0, 1fr);
	gap: 2px $space-6;
	max-width: 512px;
	margin: 0;
	@include body-small;

	div {
		display: contents;
	}

	dt {
		@include section-label;
	}

	dd {
		margin: 0;
		color: $color-secondary;
	}
}

@media (max-width: $breakpoint-small) {
	.intro__meta-table {
		grid-template-columns: max-content minmax(0, 1fr);
	}
}
