@use "@/styles/abstracts" as *;

.intro {
	display: grid;
	gap: $space-3;
	padding-bottom: $space-2;
}

.intro__meta-table {
	display: grid;
	grid-template-columns: max-content minmax(0, 1fr);
	gap: 0.14rem $space-6;
	max-width: 32rem;
	margin: 0;
	font-size: $small-size;

	div {
		display: contents;
	}

	dt {
		color: $color-primary;
		font-family: $font-code;
		font-size: $metadata-size;
		font-weight: 700;
		text-transform: uppercase;
	}

	dd {
		margin: 0;
		color: $color-secondary;
	}
}

@media (max-width: $breakpoint-small) {
	.intro__meta-table {
		grid-template-columns: max-content minmax(0, 1fr);
	}
}
