:root {
  --font-body: Arial, sans-serif;
  --font-mono: Arial, sans-serif;
}

@layer utilities {
  .font-body {
    font-family: var(--font-body);
  }

  .font-mono {
    font-family: var(--font-mono);
  }
}
