@use "@/styles/abstracts" as *;

.breadcrumbs {
	color: $color-secondary;
	font-family: $font-code;
	font-size: $metadata-size;
	padding: $space-1 0;
	border-bottom: 1px solid $color-rule;

	ol {
		display: flex;
		flex-wrap: wrap;
		gap: $space-1;
		@include unstyled-list;
	}

	li + li::before {
		content: ">";
		margin-right: $space-1;
		color: $color-muted;
	}
}
