@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.breadcrumbs {
	@include metadata-text;
	padding: $space-1 0 0;

	ol {
		display: flex;
		flex-wrap: wrap;
		gap: $space-1;
		@include unstyled-list;
	}

	li + li::before {
		content: ">";
		margin-right: $space-1;
		color: $color-muted;
	}
}
